body {
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-hero {
    background-image: url('../images/fondo-centro-ayuda.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    background-color: transparent;
    color: white;
    padding-bottom: 50px;
    position: relative;
    z-index: 10;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.quick-exit {
    background-color: #e30c2f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.hero-section {
    padding: 80px 20px;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.foro-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

#comentarios {
    padding: 20px;
    background-color: #bdeeff52;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.114);
}

.comentario {
    background: linear-gradient(135deg, #259ebc 0%, #4a9fe9 90%);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
}

.comentario .usuario-box {
    min-width: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comentario .contenido-box {
    padding-left: 15px;
}

.comentario .usuario {
    font-weight: bold;
}

.comentario .fecha {
    font-size: 0.8em;
    color: #718096;
}


.usuario-box i {
    font-size: 2rem;
    margin-bottom: 5px;
}

.contenido-box {
    padding-left: 15px;
}

.formulario-comentario {
    background: linear-gradient(135deg, #259ebc 0%, #1c3d8c 90%);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
}

.formulario-comentario.mostrar {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.formulario-comentario input,
.formulario-comentario textarea {
    background-color: #ffffff;
    color: #000000;
    border: none;
}

.formulario-comentario input::placeholder,
.formulario-comentario textarea::placeholder {
    color: #a0aec0;
}

.btn-enviar {
    background-color: #4b83beba;
    color: #ffffff;
    border: none;
}

.btn-enviar:hover {
    background-color: #497dbd;
}

.btn-toggle-form {
    background-color: #259ebc;
    color: #ffffff;
    border: none;
    margin-bottom: 30px;
    margin-top: 20px;
}

.btn-toggle-form:hover {
    background-color: #479cb1;
}