
.header {
    text-align: center;
    margin-top: 80px;
    padding: 0 20px;
}

.header h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}



.icon {
    font-size: 70px;
    background-color: #2fa2c9;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.subtexto {
    margin-top: 20px;
    font-size: 19px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
    color: #ffffff;
}

/* Sección de Consejos */
.consejos {
    background-color: #46a6cfe8;
    margin: 40px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
    color: rgb(255, 255, 255);
}

.consejo-titulo {
    flex: 1 1 300px;
}

.consejo-titulo h2 {
    font-size: 28px;
    font-weight: 700;

}

.consejo-texto {
    flex: 2 1 400px;
    font-size: 17px;
    line-height: 1.6;
}

.boton-mas-informacion {
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
}

.boton-mas-informacion::after {
    content: "↗";
    margin-left: 5px;
    font-size: 16px;
}

/* LLama chat y guia */
.podcast-section {
    background-color: #ffffff; 
    padding: 80px 20px;
    color: rgb(0, 0, 0);
  }
  
  .container-podcast {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
  }
  
  .podcast-left {
    flex: 1;
    min-width: 280px;
  }
  
  .podcast-left h1 {
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 20px;
    
  }
  
  .podcast-left p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .button-podcast {
    background: #00a8ff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s;
  }
  
  .button-podcast:hover {
    background: #0097e6;
  }
  
  .podcast-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .podcast-card {
    background-color: #ffffff;
    color: #333;
    border-radius: 16px;
    padding: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    transition: transform 0.3s;
  }
  
  .podcast-card:hover {
    transform: translateY(-5px);
  }
  
  .podcast-card img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
  }
  
  /*GUIA*/
  .pasos-section {
    background:  linear-gradient(to bottom, rgb(124, 47, 248), rgb(158, 42, 224));
    padding: 60px 20px;
    text-align: center;
  }
  .pasos-guia{
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  /*LLAMAR 2*/
  .llama-section{
    background: #fff;

  }

/* TARJETAS DE GUIA*/
  .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: auto;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    transition: all .3s ease-in;
}
.card > *{
    padding: 10px;
}
.card .card-image{
    height: 150px;
    width: 150px;
    border: 5px double #022a3c;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;    
}
.card .card-title{
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #262654;
}
.card:nth-child(1) .card-image{
    background-image: url(https://cdni.iconscout.com/illustration/premium/thumb/una-agente-de-policia-con-un-telefono-llama-a-sus-colegas-para-informarles-de-un-delito-resuelto-11632604.png);
}
.card:nth-child(2) .card-image{
    background-image: url(https://i.pinimg.com/736x/c2/01/83/c201832cf9f1d3932747b0ec5dee0154.jpg);
}
.card:nth-child(3) .card-image{
    background-image: url(https://st2.depositphotos.com/1998651/11537/v/950/depositphotos_115378824-stock-illustration-hand-holding-a-credit-cards.jpg);
}
.card:nth-child(4) .card-image{
  background-image: url(https://media.gcflearnfree.org/content/5b8d695d27bcb80c94d1d1f5_09_03_2018/centrales.png);
}
.card:nth-child(5) .card-image{
  background-image: url(https://img.freepik.com/vector-gratis/fondo-plano-dia-internet-mas-seguro_23-2151127509.jpg);
}
.card:hover{
    background: #7a3cac;
    color: #fff;
    box-shadow: 0px 0px 11px 5px #000000;

}

.card .card-text{
    line-height: 20px;
    font-size: 400;
}
  
  
/* Responsive */
@media (max-width: 768px) {
    .consejos {
        flex-direction: column;
        text-align: center;
    }
}




.contact-options {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 40px 20px;
  gap: 20px;
  font-size: 30px;
    margin: 0;
}

.option {

  flex: 1;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  border-right: 2.5px solid #389440;
  
}

.option:last-child {
  border-right: none;
}

.icon2 {
    font-size: 50px;
    background-color: #4dc957;;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
}


p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}
