body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.video-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding-bottom: 50px;
  position: relative;
  z-index: 10;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.quick-exit {
  background-color: #e30c2f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.right-options a {
  margin-left: 10px;
}

.hero {
  text-align: center;
  margin-top: 80px;
  padding: 0 20px;
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
}

.hero p {
  font-size: 18px;
  margin-top: 12px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Sección de las tarjetas */
.cards-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 30px;
  background-color: transparent;
  position: absolute;
  top: 50vh; /* <- Esto las sube hacia el video */
  left: 0;
  width: 100%;
  z-index: 50;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  max-width: 350px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding-top: 70px; /* suficiente espacio arriba para el icono flotante */
  position: relative;
}

.icon {
  font-size: 48px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -50px auto 20px auto; /* <- esto hace que sobresalga la mitad */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
}

.card h3 {
  margin-top: 50px;
}


.blue { background-color: #00a7e1; color: white; }
.green { background-color: #00c3a5; color: white; }
.purple { background-color: #6f2da8; color: white; }

.blue-text { color: #00a7e1; }
.green-text { color: #00c3a5; }
.purple-text { color: #6f2da8; }

.btn1 {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.3s;
}

.blue-btn {
  background-color: #00a7e1;
  color: white;
}

.green-btn {
  background-color: #00c3a5;
  color: white;
}

.purple-btn {
  background-color: #6f2da8;
  color: white;
}
